body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(70, 80, 78);
    text-align: center;
    padding: 30px;
}

h1, h3, p {
    color: azure;
}

textarea {
    width: 40%;
    font-size: 20 px;
    padding: 10px;
}

button {
    padding: 10px 30px;
    margin-top: 15px;
    background-color:lightgreen;
    border: none;
    border-radius: 10px ;
    cursor: pointer;
}

button:hover{
    background:green;
}

.result {
    margin-top: 20px;
    background:rgb(101, 116, 113);
    padding: 15px;
    border-radius: 10px;
}